/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
html {
  font-family: "Lato", sans-serif;
  width: 390px;
}

header {
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 1;
}

header img {
  width: 350px;
  margin: 10px 20px;
}

nav {
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  padding: 16px 61px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: #ffffff;
  position: sticky;
  top: 48px;
  width: 390px;
  z-index: 1;
}

footer {
  background-color: #f9dde7;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-flow: row nowrap;
  padding: 32px 16px;
  margin: 48px 0 0;
}

footer section {
  display: flex;
  flex-flow: column wrap;
  border-top: #000000 solid 3px;
  padding: 0;
  margin: 0 6px;
}

footer p {
  font-size: 16px;
  padding: 12px 0 0;
}

footer a {
  margin: 0;
  padding: 12px 0 0;
}

section {
  padding: 47px 16px 0;
}

article {
  background-color: #f6f6f6;
  margin-bottom: 48px;
  box-shadow: 0 5px 0 0 #783df6;
  position: relative;
}

article img {
  width: 358px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
  text-align: left;
  margin-bottom: 32px;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  padding: 16px 16px 0 16px;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding: 16px;
}

a {
  text-decoration: none;
}

section.membership {
  padding: 0;
  position: relative;
}

div.membership-content {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 0 0 16px;
  position: absolute;
  top: 48px;
  left: 16px;
  right: 16px;
}

/* section.membership {
  background-color: #000000;
  color: #ffffff;
  padding: 0 0 16px;
} */

section.membership h2.membership-title {
  font-size: 28px;
  line-height: 28px;
  padding: 16px 16px 0;
  margin: 0;
}

section.membership p {
  margin: 0 0 16px;
}

.button {
  display: block;
  width: 157px;
  padding: 16px 32px;
  margin: 0 0 0 16px;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

a.films-button {
  background-color: #000000;
  color: #ffffff;
  margin: auto;
}

a.programmebutton {
  background-color: #783df6;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding: 8px 16px;
  margin: 0;
  position: absolute;
  top: 16px;
  left: 0;
  width: auto;
}

div.films-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.films-articles article {
  width: 173px;
  margin-bottom: 12px;
  box-shadow: 0 0 0 0;
}

section.films h3,
section.films p {
  font-size: 16px;
}

section.films p {
  line-height: 22px;
}

section.films h3 {
  line-height: 20px;
}
