/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

body {
  font-family: Lato;
  background-color: white;
}

.nav {
  font-family: Lato-Bold;
  font-size: 18px;
  line-height: 19px;
  color: #000000;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 16px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-left: 62px;
  margin-right: 62px;
}

h1 {
  font-family: Lato-Bold;
  font-size: 36px;
  color: #000000;
  line-height: 38px;
  padding-bottom: 32px;
  margin-left: 16px;
  padding-top: 46px;
}

.programme-window-strands {
  background: #783df6;
  font-family: Lato-Bold;
  font-size: 16px;
  color: #ffffff;
  line-height: 16px;
  padding: 8px 16px;
  position: absolute;
  bottom: 330px;
  left: 16px;
}

.programme-window-series {
  background: #783df6;
  font-family: Lato-Bold;
  font-size: 16px;
  color: #ffffff;
  line-height: 16px;
  padding: 8px 16px;
  position: absolute;
  top: 912px;
  left: 16px;
}

.article-container h3 {
  margin: 16px 16px;
  font-size: 22px;
}

.article-container p {
  margin: 16px 16px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
}

.strands-article {
  background: #f6f6f6;
  box-shadow: 0 5px 0 0 #783df6;
  font-size: 20px;
  line-height: 28px;
  font-size: 20px;
  line-height: 28px;
}

.series-article {
  background: #f6f6f6;
  box-shadow: 0 5px 0 0 #783df6;
  font-size: 20px;
  line-height: 28px;
  font-size: 20px;
  line-height: 28px;
}

.article-container {
  padding-bottom: 45px;
  margin-left: 16px;
  margin-right: 16px;
}

.membership-section {
  background: #000000;
  color: white;
  padding-bottom: 1px;
}

.membership-section img {
  padding-bottom: 15px;
}

.membership-section h2 {
  font-size: 28px;
  line-height: 28px;
  margin-left: 16px;
  padding-bottom: 16px;
}

.membership-section p {
  font-size: 20px;
  line-height: 28px;
  margin-left: 16px;
  padding-bottom: 16px;
}

a {
  text-decoration: none;
}

.button {
  background: #ffffff;
  font-size: 20px;
  color: #000000;
  line-height: 24px;
  padding: 16px 32px;
  max-width: 170px;
  margin: 16px;
  font-family: Lato-Bold;
}

.button.is-active {
  background: #783df6;
  color: #ffffff;
}

.film-section {
  margin-left: 16px;
  margin-right: 16px;
}

.film-section h2 {
  font-family: Lato-Bold;
  font-size: 36px;
  color: #000000;
  line-height: 38px;
  padding-top: 48px;
  padding-bottom: 32px;
}

.film-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-film {
  max-width: 173px;
  margin-bottom: 16px;
  background-color: #f6f6f6;
}

.article-film img {
  padding-bottom: 16px;
  max-width: 173px;
}

.article-film h3 {
  font-family: Lato-Bold;
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  padding-bottom: 16px;
  margin-left: 16px;
}

.article-film p {
  font-size: 16px;
  line-height: 22px;
  margin-left: 16px;
  margin-right: 16px;
}

.robe-of-gems-film p {
  padding-bottom: 38px;
}

.rimini-film p {
  margin-bottom: 16px;
}

.a-room-of-my-own-film p {
  padding-bottom: 16px;
}

.sick-of-myself-film p {
  padding-bottom: 16px;
}

.button-view-all {
  background: black;
  font-size: 20px;
  color: white;
  line-height: 24px;
  padding: 16px 32px;
  max-width: 136px;
  font-family: Lato-Bold;
}

.button-container-view-all {
  margin: auto;
  padding-bottom: 48px;
}

footer {
  background: #f9dde7;
  padding-bottom: 32px;
}

.element-container {
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 16px;
  margin-right: 16px;
}

.element-container h3 {
  margin-bottom: 12px;
  font-size: 16px;
  padding-top: 12px;
}

.intro-festival {
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
}

.sponsors {
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
}

.access {
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
}

.how {
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
}

.tickets {
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
}

.rectangle-about {
  background-color: #000000;
  max-height: 3px;
  max-width: 170px;
  color: #f9dde7;
}

.rectangle-tickets {
  background-color: #000000;
  max-height: 3px;
  max-width: 170px;
  color: #f9dde7;
}
/* hr{
  color: black;
  line-height: 3px;
} */
