/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.header-logo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}

header {
  background-color: black;
}

nav {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  padding: 16px 0px;
}

a {
  padding: 9px;
}

.cover {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 46px;
}

main {
  margin: 0 16px;
}

h1 {
  font-size: 36px;
  padding-bottom: 32px;
}

h2 {
  padding: 19px 0;
}

figcaption {
  font-size: 20px;
}

.programme {
  background-color: #f6f6f6;
  border: solid 1px #979797;
  border-bottom: solid 6px #783df6;
  padding: 0 16px 16px;
  margin-bottom: 46px;
}

.bfi-membership {
  margin: 0 auto;
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 0 16px 16px;
}

.bfi-membership h2 {
  font-size: 28px;
  font-weight: bold;
}

.bfi-membership nav {
  background-color: white;
  color: black;
  margin: 32px 217px 0 0;
}
