/* ====================================
// css variables
// ==================================== */

:root {
  --principal-color: #783df6;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

html {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

body {
  max-width: 390px;
  margin: auto;
}

header {
  background-color: #000000;
  padding: 10px 20px;
}

nav {
  padding: 16px 61px 16px 62px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 32px;
  line-height: 38px;
}

.programme {
  margin: 46px 16px 48px 16px;
}

.programme article {
  line-height: 28px;
  font-size: 20px;
  margin-bottom: 48px;
  background-color: #f6f6f6;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

.programme img {
  margin-bottom: 16px;
}

.programme h3,
p {
  padding: 0 16px 16px 16px;
}
