/*  fonts ↓

font-family: 'Lato', sans-serif;

*/

/* ====================================
// css variables
// ==================================== */

:root {
  --main-color: #000;
  --secondary-color: #fff;
  --main-background-color: #fff;
  --secondary-background-color: #000;
  --thrid-background-color: #f6f6f6;
  --fourth-background-color: #f9dde7;
  --shadow: #783df6;
  --main-font: "Lato", sans-serif;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  max-width: 390px;
  margin: auto;
  box-shadow: 0 0 50px rgb(0 0 0 / 20%);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  display: block;

  margin: 0 auto;
}

/* ====================================
// base rules
// ==================================== */

/* base ↓ */

body {
  font-family: var(--main-font);
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: solid 2px #000;
}

.description-article {
  padding: 16px;
}

/* header ↓ */

h1 {
  background-color: var(--secondary-background-color);
  padding: 10px 20px;
}

nav {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #000000;
  text-align: center;
  line-height: 19px;
}

nav ul {
  padding: 16px 61px;
  display: flex;
  justify-content: space-between;
}

/* main ↓ */

h2 {
  font-family: Lato-Bold;
  font-size: 36px;
  line-height: 38px;
  margin-bottom: 32px;
}

h3 {
  margin-bottom: 16px;
  font-family: Lato-Bold;
  font-size: 22px;
  line-height: 24px;
}

main article {
  background-color: var(--thrid-background-color);
}

main article p {
  font-size: 20px;
  line-height: 28px;
}

/* main - introduction ↓ */

.introduction {
  margin: 47px 16px;
}

.introduction article {
  box-shadow: 0 5px 0 0 var(--shadow);
  margin-bottom: 48px;
}

/* main - presentation ↓ */

.presentation {
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
}

.button {
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-family: Lato-Bold;
  font-size: 20px;
  line-height: 24px;
  padding: 16px 32px;
  max-height: 56px;
  max-width: 157px;
  margin-top: 32px;
}

/* main - container-article ↓ */

.container-article {
  margin: 47px 16px;
}

.container-article article {
  width: 173px;
  height: 300px;
  margin-bottom: 12px;
}

.first-row {
  margin-right: 12px;
}

.button-inversed {
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
  margin: 0 111px 48px;
  text-align: center;
}

.container-article p {
  font-family: Lato-Regular;
  font-size: 16px;
  line-height: 22px;
}

.container-article h3 {
  font-family: Lato-Bold;
  font-size: 16px;
  line-height: 20px;
}

/* footer ↓ */

footer {
  background-color: var(--fourth-background-color);
  padding: 32px 16px;
}

.container-column {
  display: flex;
}

footer .column-footer-1,
footer .column-footer-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer hr {
  width: 173px;
  border: 2px solid var(--secondary-background-color);
}

h4 {
  padding: 12px 0;
}

footer p {
  font-size: 16px;
  line-height: 20px;
}

/* position ↓ */

header {
  position: sticky;
}

nav {
  background-color: var(--main-background-color);
}

.introduction article {
  position: relative;
}

.label {
  background-color: var(--shadow);
  padding: 8px 16px;
  max-height: 32px;
  max-width: 116px;
  position: absolute;
  top: 16px;
}

.label p {
  color: var(--secondary-color);
  font-family: Lato-Bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.presentation {
  position: relative;
  display: flex;
  justify-content: center;
}

.presentation .description-article {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 358px;
  height: 258px;
  margin: 48px 16px;
}
