/* ====================================
// css variables
// ==================================== */

:root {
  --black: #000000;
  --purple: #783DF6;
  --cream: #F6F6F6;
  --pink: #F9DDE7;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

html {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

body {
  width: 390px;
  margin: auto;
}

/* header */

.logo {
  background-color: var(--black);
  padding: 10px 20px;
}

.nav a {
  font-size: 18px;
  font-weight: bold;
  padding: 16px;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

/* partie 1 */

.firstpart h1 {
  font-size: 36px;
  font-weight: bold;
  padding: 46px 174px 32px 16px;
}

.program {
  margin: 0px 16px 48px 16px;
  background: var(--cream);
  box-shadow: 0 5px 0 0 var(--purple);
}

.program h2 {
  font-size: 22px;
  font-weight: bold;
  padding: 16px;
}

.program p {
  font-size: 20px;
  padding: 0px 16px 16px 16px;
}